<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>282047193952-6q8squisn28u476s57u04ktj4ouv9v11.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.282047193952-6q8squisn28u476s57u04ktj4ouv9v11</string>
	<key>API_KEY</key>
	<string>AIzaSyBnIzsICusrqFkyfXPoFqFnR85PQq8SypI</string>
	<key>GCM_SENDER_ID</key>
	<string>282047193952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.swimLog</string>
	<key>PROJECT_ID</key>
	<string>swimlog-5f737</string>
	<key>STORAGE_BUCKET</key>
	<string>swimlog-5f737.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282047193952:ios:dca55895d2a5bee96e3405</string>
</dict>
</plist>